{% extends 'base.html' %}
{% block head%}
Bioterio - Machos y Hembras
{% endblock %}
{% block body%}

<div class="jumbotron">
	<div class="content">
		<h2>Machos</h2>
		<hr>

		<h3>Cepa A: {{ total_macho_a }}</h3>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Caja</th>
					<th>Cepa</th>
					<th>Fecha de nacimiento</th>
					<th>Edad</th>
					<th>Fecha de destete</th>
					<th>Cantidad</th>
					<th>Padres</th>					
					<th>Observaciones</th>
					<th>Acciones</th>
				</tr>
			</thead>

			{%for macho in machos_a %}
			<tr>
				<td>{{ macho.caja}}</td>
				<td>{{ macho.cepa}}</td>
				<td>{{ macho.fecha_nacimiento.date() }}</td>
				<td>{{ calculateage(macho.fecha_nacimiento.date()) }}</td>
				<td>{{ macho.fecha_destete.date() }}</td>
				<td>{{ macho.cantidad }}</td>

				<td>{{ macho.padres }}</td>
				<td><a class="btn btn-success" href="/observacion-macho/{{macho.id}}">Ver/Agregar observaciones</a></td>
				<td><a class="btn btn-danger" href="/delete-macho/{{macho.id}}" onclick="return confirm('Estas seguro que quieres eliminar la caja {{macho.caja}}?');">Eliminar macho y observaciones</a></td>
			</tr>
			{% endfor %}		
		</table>


<hr>
		<h3>Cepa B: {{ total_macho_b }}</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Caja</th>
					<th>Cepa</th>
					<th>Fecha de nacimiento</th>
					<th>Edad</th>
					<th>Fecha de destete</th>
					<th>Cantidad</th>
					<th>Padres</th>
					<th>Observaciones</th>
					<th>Acciones</th>
				</tr>
			</thead>

			{%for macho in machos_b %}
			<tr>
				<td>{{ macho.caja}}</td>
				<td>{{ macho.cepa}}</td>
				<td>{{ macho.fecha_nacimiento.date() }}</td>
				<td>{{ calculateage(macho.fecha_nacimiento.date()) }}</td>
				<td>{{ macho.fecha_destete.date() }}</td>
				<td>{{ macho.cantidad }}</td>
				<td>{{ macho.padres }}</td>
				<td><a class="btn btn-success" href="/observacion-macho/{{macho.id}}">Ver/Agregar observaciones</a></td>
				<td><a class="btn btn-danger" href="/delete-macho/{{macho.id}}" onclick="return confirm('Estas seguro que quieres eliminar la caja {{macho.caja}}?');">Eliminar macho y observaciones</a></td>
			</tr>
			{% endfor %}
		</table>
<hr>
		<h3>Cepa C: {{ total_macho_c }}</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Caja</th>
					<th>Cepa</th>
					<th>Fecha de nacimiento</th>
					<th>Edad</th>
					<th>Fecha de destete</th>
					<th>Cantidad</th>
					<th>Padres</th>
					<th>Observaciones</th>
					<th>Acciones</th>
				</tr>
			</thead>

			{%for macho in machos_c %}
			<tr>
				<td>{{ macho.caja}}</td>
				<td>{{ macho.cepa}}</td>
				<td>{{ macho.fecha_nacimiento.date() }}</td>
				<td>{{ calculateage(macho.fecha_nacimiento.date()) }}</td>
				<td>{{ macho.fecha_destete.date() }}</td>
				<td>{{ macho.cantidad }}</td>
				<td>{{ macho.padres }}</td>
				<td><a class="btn btn-success" href="/observacion-macho/{{macho.id}}">Ver/Agregar observaciones</a></td>
				<td><a class="btn btn-danger" href="/delete-macho/{{macho.id}}" onclick="return confirm('Estas seguro que quieres eliminar la caja {{macho.caja}}?');">Eliminar macho y observaciones</a></td>
			</tr>
			{% endfor %}
		</table>
<hr>
		<h2>Hembras</h2>
		<hr>

		<h3>Cepa A: {{ total_hembra_a }}</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Caja</th>
					<th>Cepa</th>
					<th>Fecha de nacimiento</th>
					<th>Edad</th>
					<th>Fecha de destete</th>
					<th>cantidad</th>
					<th>Padres</th>
					<th>Observaciones</th>
					<th>Acciones</th>
				</tr>
			</thead>

			{%for hembra in hembras_a %}
			<tr>
				<td>{{ hembra.caja}}</td>
				<td>{{ hembra.cepa}}</td>
				<td>{{ hembra.fecha_nacimiento.date() }}</td>
				<td>{{ calculateage(hembra.fecha_nacimiento.date()) }}</td>
				<td>{{ hembra.fecha_destete.date() }}</td>
				<td>{{ hembra.cantidad }}</td>
				<td>{{ hembra.padres }}</td>
				<td><a class="btn btn-success" href="/observacion-hembra/{{hembra.id}}">Ver/Agregar observaciones</td>
				<td><a class="btn btn-danger" href="/delete-hembra/{{hembra.id}}" onclick="return confirm('Estas seguro que quieres eliminar la caja {{hembra.caja}}?');">Eliminar hembra y observaciones</td>
			</tr>
			{% endfor %}		
		</table>
<hr>
		<h3>Cepa B: {{ total_hembra_b }}</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Caja</th>
					<th>Cepa</th>
					<th>Fecha de nacimiento</th>
					<th>Edad</th>
					<th>Fecha de destete</th>
					<th>cantidad</th>
					<th>Padres</th>
					<th>Observaciones</th>
					<th>Acciones</th>
				</tr>
			</thead>

			{%for hembra in hembras_b %}
			<tr>
				<td>{{ hembra.caja}}</td>
				<td>{{ hembra.cepa}}</td>
				<td>{{ hembra.fecha_nacimiento.date() }}</td>
				<td>{{ calculateage(hembra.fecha_nacimiento.date()) }}</td>
				<td>{{ hembra.fecha_destete.date() }}</td>
				<td>{{ hembra.cantidad }}</td>
				<td>{{ hembra.padres }}</td>
				<td><a class="btn btn-success" href="/observacion-hembra/{{hembra.id}}">Ver/Agregar observaciones</td>
				<td><a class="btn btn-danger" href="/delete-hembra/{{hembra.id}}" onclick="return confirm('Estas seguro que quieres eliminar la caja {{hembra.caja}}?');">Eliminar hembra y observaciones</td>
			</tr>
			{% endfor %}
		</table>

<hr>
		<h3>Cepa C: {{ total_hembra_c }}</h3>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Caja</th>
					<th>Cepa</th>
					<th>Fecha de nacimiento</th>
					<th>Edad</th>
					<th>Fecha de destete</th>
					<th>cantidad</th>
					<th>Padres</th>
					<th>Observaciones</th>
					<th>Acciones</th>
				</tr>
			</thead>

			{%for hembra in hembras_c %}
			<tr>
				<td>{{ hembra.caja}}</td>
				<td>{{ hembra.cepa}}</td>
				<td>{{ hembra.fecha_nacimiento.date() }}</td>
				<td>{{ calculateage(hembra.fecha_nacimiento.date()) }}</td>
				<td>{{ hembra.fecha_destete.date() }}</td>
				<td>{{ hembra.cantidad }}</td>
				<td>{{ hembra.padres }}</td>
				<td><a class="btn btn-success" href="/observacion-hembra/{{hembra.id}}">Ver/Agregar observaciones</td>
				<td><a class="btn btn-danger" href="/delete-hembra/{{hembra.id}}" onclick="return confirm('Estas seguro que quieres eliminar la caja {{hembra.caja}}?');">Eliminar hembra y observaciones</td>
			</tr>
			{% endfor %}
		</table>
		<hr>

	</div> 
</div>
{% endblock %}