{% extends 'base.html' %}

{% block head%}
<title>Bioterio</title>
{% endblock %}

{% block body%}
<div class="jumbotron">
	<div class="content">
		<h1>Destetar hembras {{cruza.cepa}}</h1>		
		<form action="/hembra/{{camada.id}}" method="POST">

			<div class="form-group">
				<label for="caja">Nombre de la caja</label>
				<input type="text" class="form-control" name="caja" id="caja" aria-describedby="cajaHelp" placeholder="Ingrese el nombre de la caja aquí" required, value="{{caja}}">
				<small id="cajaHelp" class="form-text text-muted">Ingrese valores como A1, B2, C4</small>
			</div>

			<div class="form-group">
				<label for="cepa">Cepa</label>
				<input type="text" class="form-control" name="cepa" id="cepa" aria-describedby="cepaHelp" placeholder="Ingrese el nombre de la caja aquí" readonly value="{{cruza.cepa}}" readonly>			
			</div>

			<div class="form-group">
				<label for="fecha_nacimiento">Fecha de nacimiento</label>
				<input type="date" class="form-control" name="fecha_cruza" id="fecha_nacimiento" aria-describedby="fecha_nacimientoHelp" value="{{camada.fecha_nacimiento.date()}}" readonly>
				<small id="fecha_nacimientoHelp" class="form-text text-muted" >Ingrese la fecha en formato mm/dd/yyyy o seleccionela con el control de la derecha</small>
			</div>

			<div class="form-group">
				<label for="fecha_destete">Fecha de destete</label>
				<input type="date" class="form-control" name="fecha_destete" id="fecha_destete" aria-describedby="fecha_desteteHelp" value="{{camada.fecha_destete.date()}}" required>
				<small id="fecha_desteteHelp" class="form-text text-muted" >Ingrese la fecha en formato mm/dd/yyyy o seleccionela con el control de la derecha</small>
			</div>
			
			<div class="form-group">
				<label for="hembra">Número de hembras</label>
				<input type="number" class="form-control" name="hembra" id="hembra" aria-describedby="machosHelp" min="0" value="{{camada.hembras}}" readonly>
				<small id="hembraHelp" class="form-text text-muted">Ingrese de forma manual o con el control de la derecha el número de machos en la cruza</small>
			</div>

			<div class="form-group">
				<label for="padres">Padres</label>
				<input type="text" class="form-control" name="padres" id="padres" aria-describedby="padresHelp" min="0" value="{{cruza.caja}}" readonly>
				<small id="padresHelp" class="form-text text-muted">Ingrese de forma manual o con el control de la derecha el número de machos en la cruza</small>
			</div>

			
			<input class="btn btn-primary mb-2" type="submit" value="Destetar hembras">
		</form>

	</div> 
</div>
{% endblock %}